.abhi{
    height: 300px;
    width: 100%;
    /* border: 2px solid red; */
    background-color: black;
}
.hari{
    height: 230px;
    width: 200px;
    /* border: 2px solid red; */
float: left;
margin-top: 50px;
margin-left: 150px;
text-align: center;
color: white;
background-color: black;
}
.hari img{
    margin-left: 15px;
    margin-top: 20px;
}
/* section4,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.ruth{
    height: 90px;
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
background-color: black;
color: white;
}
/* section5,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.ribbi{
    height: 390px;
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
background-color: black;

}
.rib{
    height: 330px;
    width: 250px;
    /* border: 2px solid red; */
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    color: white;

}
.rib img:hover{
    transform: scale(1.2);
}
/* section6,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.dd{
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 40px;
    height: 100px;
}
/* <!-- section7,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, --> */
.bp{
    background-color: black;
height: 650px;
}
.ap{
    text-align: center;
    color: white;
    margin-top: 50px;

}

.car{
    background-color: rgb(7, 7, 7);
    
}
.dp h4{
    color: white;
}
.dp p{
    color: white;
}
/* section8,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
/* <!-- section9,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, --> */
.tt{
    background-color: black;
    color: white;
}
.tt i{
    font-size: 20px;
}
/* section10,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.aa{
    background-color: black;
    text-align: center;
    color: white;
    height: 350px;

}
.dt p{
    color: white;
}
.ss{
    background-color: black;
}
/* section11,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.mm{
    color: white;

}
.hh{
    border: black;
}
.hh i{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* <!-- section13,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, --> */
.vv{
    background-color: black;
}
.vv form{
    background-color: black;
    margin-top: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #852020;
    color: #fff;
    border: 1px solid #333;
    margin-left: 430px;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #00bfff;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
  }
  
  .submit:hover {
    background-color: #00bfff96;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  /* <!-- section14,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, --> */
  .kk{
    background-color: black;
    color: white;
  }
.kk h1{
    margin-top: 60px;
}
.kk p{
    margin-top: 20px;
}
  /* <!-- section15,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, --> */
.day{
    background-color: black;
}
.day img{
    height: 330px;
    margin-top: 40px;

}
.day h1{
    text-align: center;
    color: white;
    margin-top: 60px;
}
  /* <!-- section16,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, --> */
.zz{
    background-color: black;
}
.zz img{
margin-left: 470px;
margin-top: 10px;
font-size: 40px;
}
.zz i{
    font-size: 30px;
    color: white;
}
