.dt-sc-reservation-form.dt-sc-scheduler { top:0; }
#dt-sc-ajax-load-image { text-align: center; width: 100%; position:absolute; }

.details-container li { list-style-type: square; }

.dt-sc-available-times { display: block; margin-bottom: 20px; float: left; width: 100%; }
.dt-sc-available-times .time-slots li { display:inline-block; padding:0; margin:0 10px 10px 0; }
.dt-sc-available-times .time-slots li a { display:inline-block; border-radius: 2px; color: #ffffff; font-size: 14px; padding: 12px 11px 13px; line-height:normal; background-color:#e130a7; }
.dt-sc-available-times .time-slots li a:hover, .dt-sc-available-times .time-slots li a.selected { background-color:#000; }

.dt-sc-personal-info { float:left; width:100%; }

.dt-sc-goback-box { float:left; width:100%; clear:both; margin-bottom:30px; }
.dt-sc-appointment-scheduler-form label span { margin-right:10px; color:#333; }
.dt-sc-appointment-scheduler-form .generate-schedule { float:right; }
.dt-sc-notification-box .dt-sc-notification-contactbox { background-color:#f5e2d6; }
.dt-sc-notification-box .dt-sc-notification-aboutprojectbox { background-color:#fff7e1; }
.dt-sc-notification-details .dt-sc-contact-info { text-align:left; }
.dt-sc-schedule-details { display:block; clear:both; }
.dt-sc-notification-details ul { margin-bottom: 0; }

.dt-sc-appointment-scheduler-form .hasDatepicker { margin-bottom: 0; min-height:50px; }


.dt-sc-schedule-progress { float:left; width:100%; position:relative; margin-bottom:20px; width:25%; padding:0 10px; position:relative; }
.dt-sc-schedule-progress .dt-sc-progress-step { border-radius: 50%; float: left; height: 55px; margin:0 15px 20px 0; text-align: center; color:rgba(0, 0, 0, 0.2); border:2px solid rgba(0, 0, 0, 0.2); width: 55px; }
.dt-sc-schedule-progress .dt-sc-progress-step span { line-height:50px; font-size:20px; }
.dt-sc-schedule-progress h4 { margin:10px 0 5px; }
.dt-sc-schedule-progress p { font-size:14px; line-height:24px; }
.dt-sc-schedule-progress.dt-sc-completed-step .dt-sc-progress-step { border-color:#000; color:#000; }
.fullwidth.generate-servicebox { float: right; width: auto; }
input[type="submit"].schedule-it { float: right; }

.dt-sc-service-box, .dt-sc-appointment-scheduler-form, .dt-sc-instant-notification-box, .dt-sc-instant-schedule-details, .dt-sc-instant-contact-info, .dt-sc-schedule-details { float:left; width:100%; }
.generate-timeslot { width:100%; }
.dt-sc-goback-box .appointment-goback { background-color: inherit; float: left; padding: 0; font-size:16px; -webkit-transition:all 300ms linear 0s; -moz-transition:all 300ms linear 0s; -o-transition:all 300ms linear 0s; -ms-transition:all 300ms linear 0s; transition:all 300ms linear 0s; }
.fullwidth { width:100%; }
.dt-sc-goback-box span { float:left; margin-right:7px; line-height:21px; }
.dt-sc-goback-box .appointment-goback:hover { color:#000; }
.dt-sc-appointment-payment-form > label input { display: inline-block; margin-right: 6px; position: relative; top: -2px; }
.dt-sc-appointment-payment-form > label { display: inline-block; margin:0 10px; }
.dt-sc-appointment-payment-form { float: left; text-align: center; width: 100%; }
.dt-sc-appointment-payment-form .make-payment { float:left; width:100%; margin-top:50px; }
.dt-sc-available-times .dt-sc-notification-box:before, .dt-sc-appointment-notification-box .dt-sc-notification-box:before { font-size:27px; line-height:30px; }
.dt-sc-available-times .dt-sc-notification-box, .dt-sc-appointment-notification-box .dt-sc-notification-box { padding: 15px 15px 15px 65px; }
.steps, .dt-sc-instant-notification-box, .dt-sc-goback-box { padding:0 10%; }
.steps h2 { font-size:32px; }
.dt-sc-service-box label { color: #666; }
.dt-sc-appointment-under-process:after { float:left; width:80%; background-color:rgba(0, 0, 0, 0.1); position:absolute; height:100%; content:""; left:0; top:0; right:0; margin:auto; }
.dt-sc-appointment-under-process { position:relative; float:left; width:100%; }
#dt-sc-ajax-load-image { height: 21px; left: 0; margin: auto; position: absolute; right: 0; text-align: center; top: 60px; width: 100%; }
.dt-sc-instant-notification-details label, .dt-sc-notification-details label { float: left; font-weight: bold; margin-right: 20px; min-width: 70px; text-align: right; }
.dt-sc-instant-notification-details li, .dt-sc-notification-details li { color:#000; }
